@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}

section h2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 17vw;
    text-align: center;
    font-weight: 800;
    line-height: 0.85em;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0,0.95);
    mix-blend-mode:multiply;
    opacity: 90%;
}

section h2 span
{
    font-size: 0.4em;
    line-height: 0.85em;
}

audio{
    opacity: 20%;
    position:relative;
    margin-top: 130%;
}
